<?xml version="1.0"?>
<configuration>
	<configSections>
 <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
 <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
 <loggingConfiguration name="default" tracingEnabled="true" defaultCategory="General">
	<listeners>
	 <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
	type="ManagedUserLookup.Library.Extensions.ConsoleTraceListener, ManagedUserLookup.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
	name="Console Trace Listener" />
	</listeners>
	<formatters>
	 <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
	template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
	name="Text Formatter" />
	</formatters>
	<categorySources>
	 <add switchValue="All" name="General">
		<listeners>
		 <add name="Console Trace Listener" />
		</listeners>
	 </add>
	</categorySources>
	<specialSources>
	 <allEvents switchValue="All" name="All Events">
		<listeners>
		 <add name="Console Trace Listener" />
		</listeners>
	 </allEvents>
	 <notProcessed switchValue="All" name="Unprocessed Category">
		<listeners>
		 <add name="Console Trace Listener" />
		</listeners>
	 </notProcessed>
	 <errors switchValue="All" name="Logging Errors &amp; Warnings">
		<listeners>
		 <add name="Console Trace Listener" />
		</listeners>
	 </errors>
	</specialSources>
 </loggingConfiguration>
 <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
	 
		<alias alias="InterceptionBehavior" type="ManagedUserLookup.Library.Logging.TraceBehavior, ManagedUserLookup.Library" />
		<assembly name="ManagedUserLookup.Library"  />
		<namespace name="ManagedUserLookup.Library.Interfaces" />
		<namespace name="ManagedUserLookup.Library.Mocks" />

	 <container>
			<extension type="Interception" />
	
			<register type="IRolesRepository" mapTo="MockRolesRepository" >
				<interceptor type="InterfaceInterceptor" name="interception"/>
				<interceptionBehavior type="InterceptionBehavior" name="TraceBehavior"/>
			</register>
			<register type="IUserRepository" mapTo="MockUserRepository" >
				<interceptor type="InterfaceInterceptor" name="interception"/>
				<interceptionBehavior type="InterceptionBehavior" name="TraceBehavior"/>
			</register>
		 <register type="IExport" mapTo="MockUserRepository" name="TestUser">
			 <interceptor type="InterfaceInterceptor" name="interception"/>
			 <interceptionBehavior type="InterceptionBehavior" name="TraceBehavior"/>
		 </register>
			
		</container>
	</unity>
 <system.web>

		<compilation debug="true" strict="true" explicit="true" targetFramework="4.0">
		</compilation>

		<authentication mode="Windows"/>

		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Xml.Linq"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
	</system.web>
	<!-- 
				The system.webServer section is required for running ASP.NET AJAX under Internet
				Information Services 7.0.  It is not necessary for previous version of IIS.
		-->
	<system.serviceModel>
		<behaviors>
	 <endpointBehaviors>
		<behavior name="ServiceAspNetAjaxBehavior">
		 <enableWebScript />
		</behavior>
		<behavior name="FileTransferServiceAspNetAjaxBehavior">
		 <enableWebScript />
		</behavior>
	 </endpointBehaviors>
	 <serviceBehaviors>
		<behavior name="ServiceAspNetAjaxBehavior">
		 <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"   />
		 <serviceDebug includeExceptionDetailInFaults="true" />
			<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
		</behavior>
	 </serviceBehaviors>
	</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
	 multipleSiteBindingsEnabled="true" />
		<services>
	 <service name="SearchData">
		 <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior"
		 binding="webHttpBinding" contract="ISearchData" />
		 
	 </service>
	 <service name="FileTransferService">
		<endpoint address="" behaviorConfiguration="FileTransferServiceAspNetAjaxBehavior"
		 binding="webHttpBinding" contract="FileTransferService" />


	 </service>
	</services>
		<bindings>
			 <basicHttpBinding>
			 <binding name="httpLargeMessageStream"
											maxReceivedMessageSize="2147483647"
											transferMode="Streamed"  messageEncoding="Mtom" />
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="All">
				<listeners>
					<add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="..\log\Traces.svclog"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>
